.product-detail-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.product-detail-page-product-detail-page {
  width: 100%;
  height: 3066px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.product-detail-page-rectangle1 {
  top: 2567px;
  left: -1px;
  width: 1441px;
  height: 499px;
  position: absolute;
}
.product-detail-page-frame110 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.product-detail-page-text100 {
  top: 9px;
  left: 544px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text101 {
  font-weight: 400;
  text-decoration: NONE;
}
.product-detail-page-frame36 {
  top: 9px;
  left: 1320px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.product-detail-page-frame6 {
  gap: 40px;
  top: 62px;
  left: 100px;
  width: 1240px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.product-detail-page-text103 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Integral CF;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame210 {
  gap: 24px;
  display: flex;
  align-items: center;
}
.product-detail-page-frame410 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.product-detail-page-text105 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame37 {
  width: 16px;
  height: 16px;
}
.product-detail-page-text107 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text109 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text111 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame310 {
  gap: 12px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  border-radius: 62px;
  background-color: rgba(239, 239, 239, 1);
}
.product-detail-page-frame54 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text113 {
  color: rgba(0, 0, 0, 0.4000000059604645);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame5 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.product-detail-page-frame55 {
  width: 24px;
  height: 24px;
}
.product-detail-page-frame56 {
  width: 24px;
  height: 24px;
}
.product-detail-page-frame16 {
  gap: 12px;
  top: 600px;
  left: 750px;
  width: 420px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.product-detail-page-frame311 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  overflow: hidden;
  align-items: center;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(239, 239, 239, 1);
}
.product-detail-page-text115 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame13 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  overflow: hidden;
  align-items: center;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(239, 239, 239, 1);
}
.product-detail-page-text117 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame141 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  overflow: hidden;
  align-items: center;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.product-detail-page-text119 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame15 {
  gap: 12px;
  display: flex;
  padding: 12px 24px;
  overflow: hidden;
  align-items: center;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(239, 239, 239, 1);
}
.product-detail-page-text121 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame142 {
  gap: 12px;
  top: 694px;
  left: 940px;
  width: 400px;
  height: 52px;
  display: flex;
  padding: 16px 54px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.product-detail-page-text123 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame281 {
  gap: 12px;
  top: 1762px;
  left: 605px;
  width: 230px;
  height: 52px;
  display: flex;
  padding: 16px 54px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 62px;
  justify-content: center;
}
.product-detail-page-text125 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame17 {
  gap: 12px;
  top: 694px;
  left: 750px;
  width: 170px;
  height: 52px;
  display: flex;
  padding: 16px 20px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: space-between;
  background-color: rgba(239, 239, 239, 1);
}
.product-detail-page-frame57 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text127 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame58 {
  width: 24px;
  height: 24px;
}
.product-detail-page-frame21 {
  gap: 10px;
  top: 888px;
  left: 986px;
  width: 354px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.product-detail-page-frame19 {
  gap: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  padding: 16px 20px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: space-between;
  background-color: rgba(239, 239, 239, 1);
}
.product-detail-page-frame59 {
  width: 24px;
  height: 24px;
}
.product-detail-page-frame18 {
  gap: 12px;
  width: 120px;
  height: 48px;
  display: flex;
  padding: 16px 20px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: space-between;
  background-color: rgba(239, 239, 239, 1);
}
.product-detail-page-text128 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame60 {
  width: 16px;
  height: 16px;
}
.product-detail-page-frame20 {
  gap: 12px;
  width: 166px;
  height: 48px;
  display: flex;
  padding: 16px 20px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 1);
}
.product-detail-page-text130 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame312 {
  gap: 12px;
  top: 321px;
  left: 938px;
  width: 72px;
  display: flex;
  padding: 6px 14px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(255, 51, 51, 0.10000000149011612);
}
.product-detail-page-text132 {
  color: rgba(255, 51, 51, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame42 {
  gap: 12px;
  top: 2369px;
  left: 231px;
  width: 58px;
  display: flex;
  padding: 6px 14px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(255, 51, 51, 0.10000000149011612);
}
.product-detail-page-text134 {
  color: rgba(255, 51, 51, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text136 {
  top: 216px;
  left: 750px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Integral CF;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text138 {
  top: 1878px;
  left: 431px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: center;
  font-family: Integral CF;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame12 {
  gap: 12px;
  top: 317px;
  left: 750px;
  width: 176px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.product-detail-page-text140 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text142 {
  color: rgba(0, 0, 0, 0.30000001192092896);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: line-through;
}
.product-detail-page-frame91 {
  gap: 12px;
  top: 158px;
  left: 100px;
  width: 259px;
  display: flex;
  position: absolute;
  align-items: center;
}
.product-detail-page-frame7 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.product-detail-page-text144 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame61 {
  width: 16px;
  height: 16px;
}
.product-detail-page-frame92 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.product-detail-page-text146 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame62 {
  width: 16px;
  height: 16px;
}
.product-detail-page-frame8 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.product-detail-page-text148 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame63 {
  width: 16px;
  height: 16px;
}
.product-detail-page-text150 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text152 {
  top: 461px;
  left: 750px;
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text154 {
  top: 380px;
  left: 750px;
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 590px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text156 {
  top: 896px;
  left: 100px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text158 {
  top: 910px;
  left: 233px;
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text160 {
  top: 826px;
  left: 240px;
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text162 {
  top: 826px;
  left: 642px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text164 {
  top: 826px;
  left: 1110px;
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: right;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text166 {
  top: 573px;
  left: 750px;
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-image1 {
  top: 216px;
  left: 266px;
  width: 444px;
  height: 530px;
  position: absolute;
  border-radius: 20px;
}
.product-detail-page-image2 {
  top: 216px;
  left: 100px;
  width: 152px;
  height: 167px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.product-detail-page-image5 {
  top: 397px;
  left: 100px;
  width: 152px;
  height: 168px;
  position: absolute;
  border-radius: 20px;
}
.product-detail-page-image6 {
  top: 579px;
  left: 100px;
  width: 152px;
  height: 167px;
  position: absolute;
  border-radius: 20px;
}
.product-detail-page-frame11 {
  gap: 16px;
  top: 278px;
  left: 750px;
  width: 193px;
  display: flex;
  position: absolute;
  align-items: center;
}
.product-detail-page-frame1010 {
  width: 139px;
  height: 25px;
}
.product-detail-page-text168 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame35 {
  gap: 13px;
  top: 2340px;
  left: 100px;
  width: 138px;
  display: flex;
  position: absolute;
  align-items: center;
}
.product-detail-page-frame1011 {
  gap: 5.312008380889893px;
  display: flex;
  align-items: flex-start;
}
.product-detail-page-star11 {
  width: 18px;
  height: 18px;
}
.product-detail-page-star21 {
  width: 18px;
  height: 18px;
}
.product-detail-page-star31 {
  width: 18px;
  height: 18px;
}
.product-detail-page-star41 {
  width: 18px;
  height: 18px;
}
.product-detail-page-text170 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame39 {
  gap: 13px;
  top: 2340px;
  left: 415px;
  width: 126px;
  display: flex;
  position: absolute;
  align-items: center;
}
.product-detail-page-frame1012 {
  width: 80px;
  height: 18px;
}
.product-detail-page-text172 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame40 {
  gap: 13px;
  top: 2340px;
  left: 730px;
  width: 150px;
  display: flex;
  position: absolute;
  align-items: center;
}
.product-detail-page-frame1013 {
  width: 104px;
  height: 18px;
}
.product-detail-page-text174 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame41 {
  gap: 13px;
  top: 2340px;
  left: 1045px;
  width: 161px;
  display: flex;
  position: absolute;
  align-items: center;
}
.product-detail-page-frame1014 {
  gap: 5.312008380889893px;
  display: flex;
  align-items: flex-start;
}
.product-detail-page-star12 {
  width: 18px;
  height: 18px;
}
.product-detail-page-star22 {
  width: 18px;
  height: 18px;
}
.product-detail-page-star32 {
  width: 18px;
  height: 18px;
}
.product-detail-page-star42 {
  width: 18px;
  height: 18px;
}
.product-detail-page-star5 {
  width: 18px;
  height: 18px;
}
.product-detail-page-text176 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-line1 {
  top: 437.00006103515625px;
  left: 750px;
  width: 590px;
  height: 1px;
  position: absolute;
}
.product-detail-page-line5 {
  top: 864.0000610351562px;
  left: 100px;
  width: 1240px;
  height: 1px;
  position: absolute;
}
.product-detail-page-line7 {
  top: 864px;
  left: 513px;
  width: 414px;
  height: 1px;
  position: absolute;
}
.product-detail-page-line4 {
  top: 134.00006103515625px;
  left: 100px;
  width: 1240px;
  height: 1px;
  position: absolute;
}
.product-detail-page-line8 {
  top: 2934px;
  left: 100px;
  width: 1240px;
  height: 1px;
  position: absolute;
}
.product-detail-page-line2 {
  top: 549.0000610351562px;
  left: 750px;
  width: 590px;
  height: 1px;
  position: absolute;
}
.product-detail-page-line3 {
  top: 670.0000610351562px;
  left: 750px;
  width: 590px;
  height: 1px;
  position: absolute;
}
.product-detail-page-frame77 {
  gap: 16px;
  top: 488px;
  left: 750px;
  width: 143px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.product-detail-page-group8 {
  width: 37px;
  height: 37px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-ellipse1 {
  top: 0px;
  left: 0px;
  width: 37px;
  height: 37px;
  position: absolute;
}
.product-detail-page-frame64 {
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.product-detail-page-ellipse2 {
  width: 37px;
  height: 37px;
}
.product-detail-page-ellipse3 {
  width: 37px;
  height: 37px;
}
.product-detail-page-frame22 {
  gap: 342px;
  top: 960px;
  left: 100px;
  width: 610px;
  height: 234px;
  display: flex;
  padding: 28px 32px;
  overflow: hidden;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.product-detail-page-frame301 {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.product-detail-page-frame291 {
  gap: 15px;
  width: 522px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.product-detail-page-frame1015 {
  width: 127px;
  height: 23px;
}
.product-detail-page-frame282 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.product-detail-page-frame313 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.product-detail-page-text178 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame65 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text180 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame271 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.product-detail-page-frame66 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text182 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 546px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame24 {
  gap: 342px;
  top: 1222px;
  left: 100px;
  width: 610px;
  height: 232px;
  display: flex;
  padding: 28px 32px;
  overflow: hidden;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.product-detail-page-frame302 {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.product-detail-page-frame292 {
  gap: 15px;
  width: 522px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.product-detail-page-frame1016 {
  width: 98px;
  height: 23px;
}
.product-detail-page-frame283 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.product-detail-page-frame314 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.product-detail-page-text184 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame67 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text186 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame272 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.product-detail-page-frame68 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text188 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 546px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame26 {
  gap: 342px;
  top: 1484px;
  left: 100px;
  width: 610px;
  height: 232px;
  display: flex;
  padding: 28px 32px;
  overflow: hidden;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.product-detail-page-frame303 {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.product-detail-page-frame293 {
  gap: 15px;
  width: 522px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.product-detail-page-frame1017 {
  gap: 6.486780166625977px;
  display: flex;
  align-items: flex-start;
}
.product-detail-page-star13 {
  width: 23px;
  height: 23px;
}
.product-detail-page-star23 {
  width: 23px;
  height: 23px;
}
.product-detail-page-star33 {
  width: 23px;
  height: 23px;
}
.product-detail-page-star43 {
  width: 23px;
  height: 23px;
}
.product-detail-page-frame284 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.product-detail-page-frame315 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.product-detail-page-text190 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame69 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text192 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame273 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.product-detail-page-frame70 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text194 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 546px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame23 {
  gap: 342px;
  top: 960px;
  left: 730px;
  width: 610px;
  height: 232px;
  display: flex;
  padding: 28px 32px;
  overflow: hidden;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.product-detail-page-frame304 {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.product-detail-page-frame294 {
  gap: 15px;
  width: 522px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.product-detail-page-frame1018 {
  gap: 6.486780166625977px;
  display: flex;
  align-items: flex-start;
}
.product-detail-page-star14 {
  width: 23px;
  height: 23px;
}
.product-detail-page-star24 {
  width: 23px;
  height: 23px;
}
.product-detail-page-star34 {
  width: 23px;
  height: 23px;
}
.product-detail-page-star44 {
  width: 23px;
  height: 23px;
}
.product-detail-page-frame285 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.product-detail-page-frame316 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.product-detail-page-text196 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame71 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text198 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame274 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.product-detail-page-frame72 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text200 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 546px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame25 {
  gap: 342px;
  top: 1222px;
  left: 730px;
  width: 610px;
  height: 231px;
  display: flex;
  padding: 28px 32px;
  overflow: hidden;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.product-detail-page-frame305 {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.product-detail-page-frame295 {
  gap: 15px;
  width: 522px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.product-detail-page-frame1019 {
  gap: 6.486780166625977px;
  display: flex;
  align-items: flex-start;
}
.product-detail-page-star15 {
  width: 23px;
  height: 23px;
}
.product-detail-page-star25 {
  width: 23px;
  height: 23px;
}
.product-detail-page-star35 {
  width: 23px;
  height: 23px;
}
.product-detail-page-star45 {
  width: 23px;
  height: 23px;
}
.product-detail-page-frame286 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.product-detail-page-frame317 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.product-detail-page-text202 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame73 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text204 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame275 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.product-detail-page-frame74 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text206 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 546px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame276 {
  gap: 342px;
  top: 1484px;
  left: 730px;
  width: 610px;
  height: 234px;
  display: flex;
  padding: 28px 32px;
  overflow: hidden;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.product-detail-page-frame306 {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.product-detail-page-frame296 {
  gap: 15px;
  width: 522px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.product-detail-page-frame1020 {
  width: 127px;
  height: 23px;
}
.product-detail-page-frame287 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.product-detail-page-frame318 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.product-detail-page-text208 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame75 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text210 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame277 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.product-detail-page-frame76 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text212 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 546px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame32 {
  top: 1991px;
  left: 100px;
  width: 295px;
  height: 298px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(240, 238, 237, 1);
}
.product-detail-page-image7 {
  top: -73px;
  left: -1px;
  width: 296px;
  height: 444px;
  position: absolute;
}
.product-detail-page-frame33 {
  top: 1991px;
  left: 415px;
  width: 295px;
  height: 298px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(240, 238, 237, 1);
}
.product-detail-page-image8 {
  top: -71px;
  left: 1px;
  width: 294px;
  height: 441px;
  position: absolute;
}
.product-detail-page-frame34 {
  top: 1991px;
  left: 730px;
  width: 295px;
  height: 298px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(240, 238, 237, 1);
}
.product-detail-page-image9 {
  top: -73px;
  left: 0px;
  width: 296px;
  height: 444px;
  position: absolute;
}
.product-detail-page-frame38 {
  top: 1991px;
  left: 1045px;
  width: 295px;
  height: 298px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(240, 238, 237, 1);
}
.product-detail-page-image10 {
  top: -73px;
  left: 0px;
  width: 296px;
  height: 444px;
  position: absolute;
}
.product-detail-page-text214 {
  top: 2305px;
  left: 100px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text216 {
  top: 2305px;
  left: 415px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text218 {
  top: 2305px;
  left: 730px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text220 {
  top: 2305px;
  left: 1045px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text222 {
  top: 2367px;
  left: 100px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text224 {
  top: 2367px;
  left: 163px;
  color: rgba(0, 0, 0, 0.4000000059604645);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: line-through;
}
.product-detail-page-frame44 {
  gap: 10px;
  top: 2367px;
  left: 1045px;
  width: 188px;
  display: flex;
  position: absolute;
  align-items: center;
}
.product-detail-page-text226 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text228 {
  color: rgba(0, 0, 0, 0.4000000059604645);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: line-through;
}
.product-detail-page-frame43 {
  gap: 12px;
  width: 58px;
  display: flex;
  padding: 6px 14px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(255, 51, 51, 0.10000000149011612);
}
.product-detail-page-text230 {
  color: rgba(255, 51, 51, 1);
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text232 {
  top: 2367px;
  left: 415px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text234 {
  top: 2367px;
  left: 730px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame45 {
  gap: 153px;
  top: 2477px;
  left: 100px;
  width: 1240px;
  display: flex;
  padding: 36px 64px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 1);
}
.product-detail-page-text236 {
  color: rgba(255, 255, 255, 1);
  width: 551px;
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Integral CF;
  font-weight: 700;
  line-height: 45px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame46 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-detail-page-frame319 {
  gap: 12px;
  width: 349px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 62px;
  background-color: rgba(255, 255, 255, 1);
}
.product-detail-page-frame78 {
  width: 24px;
  height: 24px;
}
.product-detail-page-text238 {
  color: rgba(0, 0, 0, 0.4000000059604645);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame411 {
  gap: 12px;
  width: 349px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.product-detail-page-text240 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame521 {
  gap: 207px;
  top: 2707px;
  left: 100px;
  width: 1240px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.product-detail-page-frame51 {
  gap: 35px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-detail-page-frame50 {
  gap: 25px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-detail-page-text242 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 33.45454788208008px;
  font-style: Bold;
  text-align: left;
  font-family: Integral CF;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text244 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 248px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-social {
  width: 148px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-frame111 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-bg1 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.product-detail-page-logotwitter2 {
  top: 9.935546875px;
  left: 9.033203125px;
  width: 11.17392635345459px;
  height: 9.032258987426758px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-group1 {
  top: 0px;
  left: 0px;
  width: 11.17392635345459px;
  height: 9.032258987426758px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-vector1 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 9px;
  position: absolute;
}
.product-detail-page-frame211 {
  top: 0px;
  left: 40px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-bg2 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.product-detail-page-logofbsimple2 {
  top: 8.12890625px;
  left: 10.83984375px;
  width: 6.3225812911987305px;
  height: 12.174895286560059px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-group2 {
  top: 0px;
  left: 4.973799150320701e-14px;
  width: 6.3225812911987305px;
  height: 12.174895286560059px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-vector2 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 12px;
  position: absolute;
}
.product-detail-page-frame320 {
  top: 0px;
  left: 80px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-bg3 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.product-detail-page-logoinstagram1 {
  top: 7.2265625px;
  left: 7.2265625px;
  width: 13.54838752746582px;
  height: 13.549030303955078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-group3 {
  top: 0px;
  left: -4.263256414560601e-14px;
  width: 13.54838752746582px;
  height: 13.549030303955078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-vector3 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.product-detail-page-vector4 {
  top: 3.296875px;
  left: 3.296875px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.product-detail-page-vector5 {
  top: 2.345703125px;
  left: 9.578125px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.product-detail-page-frame412 {
  top: 0px;
  left: 120px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-bg4 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.product-detail-page-logogithub1 {
  top: 7.2265625px;
  left: 8.126953125px;
  width: 12.95979118347168px;
  height: 12.645162582397461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-group4 {
  top: 0px;
  left: 2.842170943040401e-14px;
  width: 12.95979118347168px;
  height: 12.645162582397461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-detail-page-vector6 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.product-detail-page-frame47 {
  gap: 26px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-detail-page-text246 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text248 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame48 {
  gap: 26px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-detail-page-text262 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text264 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame522 {
  gap: 26px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-detail-page-text278 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text280 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 149px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame49 {
  gap: 26px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.product-detail-page-text294 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-text296 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.product-detail-page-frame53 {
  gap: 12px;
  top: 2954px;
  left: 1059px;
  width: 281px;
  display: flex;
  position: absolute;
  align-items: flex-end;
}
.product-detail-page-badge1 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.product-detail-page-badge2 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.product-detail-page-badge3 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.product-detail-page-badge4 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.product-detail-page-badge5 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.product-detail-page-text310 {
  top: 2959px;
  left: 100px;
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: right;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
