.cart-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.cart-cart {
  width: 100%;
  height: 1453px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.cart-frame11 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 38px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 1);
}
.cart-text100 {
  top: 9px;
  left: 544px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text101 {
  font-weight: 400;
  text-decoration: NONE;
}
.cart-frame10 {
  top: 9px;
  left: 1320px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.cart-frame6 {
  gap: 40px;
  top: 62px;
  left: 100px;
  width: 1240px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.cart-text103 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Integral CF;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame21 {
  gap: 24px;
  display: flex;
  align-items: center;
}
.cart-frame41 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.cart-text105 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame12 {
  width: 16px;
  height: 16px;
}
.cart-text107 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text109 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text111 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame31 {
  gap: 12px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  border-radius: 62px;
  background-color: rgba(239, 239, 239, 1);
}
.cart-frame13 {
  width: 24px;
  height: 24px;
}
.cart-text113 {
  color: rgba(0, 0, 0, 0.4000000059604645);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame5 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
.cart-frame15 {
  width: 24px;
  height: 24px;
}
.cart-frame16 {
  width: 24px;
  height: 24px;
}
.cart-frame9 {
  gap: 12px;
  top: 158px;
  left: 100px;
  width: 106px;
  display: flex;
  position: absolute;
  align-items: center;
}
.cart-frame7 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.cart-text115 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame18 {
  width: 16px;
  height: 16px;
}
.cart-text117 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-line4 {
  top: 134.00006103515625px;
  left: 100px;
  width: 1240px;
  height: 1px;
  position: absolute;
}
.cart-group11 {
  top: 864px;
  left: -1px;
  width: 1441px;
  height: 589px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-rectangle1 {
  top: 90px;
  left: 0px;
  width: 1441px;
  height: 499px;
  position: absolute;
}
.cart-line8 {
  top: 457px;
  left: 101px;
  width: 1240px;
  height: 1px;
  position: absolute;
}
.cart-frame45 {
  gap: 153px;
  top: 0px;
  left: 101px;
  width: 1240px;
  display: flex;
  padding: 36px 64px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 1);
}
.cart-text119 {
  color: rgba(255, 255, 255, 1);
  width: 551px;
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Integral CF;
  font-weight: 700;
  line-height: 45px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame46 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-frame32 {
  gap: 12px;
  width: 349px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 62px;
  background-color: rgba(255, 255, 255, 1);
}
.cart-frame19 {
  width: 24px;
  height: 24px;
}
.cart-text121 {
  color: rgba(0, 0, 0, 0.4000000059604645);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame42 {
  gap: 12px;
  width: 349px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.cart-text123 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame521 {
  gap: 207px;
  top: 230px;
  left: 101px;
  width: 1240px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.cart-frame51 {
  gap: 35px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-frame50 {
  gap: 25px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-text125 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 33.45454788208008px;
  font-style: Bold;
  text-align: left;
  font-family: Integral CF;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text127 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 248px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-social {
  width: 148px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-frame110 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-bg1 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.cart-logotwitter2 {
  top: 9.935546875px;
  left: 9.033203125px;
  width: 11.17392635345459px;
  height: 9.032258987426758px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-group1 {
  top: 0px;
  left: 0px;
  width: 11.17392635345459px;
  height: 9.032258987426758px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-vector1 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 9px;
  position: absolute;
}
.cart-frame22 {
  top: 0px;
  left: 40px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-bg2 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.cart-logofbsimple2 {
  top: 8.12890625px;
  left: 10.83984375px;
  width: 6.3225812911987305px;
  height: 12.174895286560059px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-group2 {
  top: 0px;
  left: 4.973799150320701e-14px;
  width: 6.3225812911987305px;
  height: 12.174895286560059px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-vector2 {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 12px;
  position: absolute;
}
.cart-frame34 {
  top: 0px;
  left: 80px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-bg3 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.cart-logoinstagram1 {
  top: 7.2265625px;
  left: 7.2265625px;
  width: 13.54838752746582px;
  height: 13.549030303955078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-group3 {
  top: 0px;
  left: -4.263256414560601e-14px;
  width: 13.54838752746582px;
  height: 13.549030303955078px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-vector3 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.cart-vector4 {
  top: 3.296875px;
  left: 3.296875px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.cart-vector5 {
  top: 2.345703125px;
  left: 9.578125px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.cart-frame43 {
  top: 0px;
  left: 120px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-bg4 {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
}
.cart-logogithub1 {
  top: 7.2265625px;
  left: 8.126953125px;
  width: 12.95979118347168px;
  height: 12.645162582397461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-group4 {
  top: 0px;
  left: 2.842170943040401e-14px;
  width: 12.95979118347168px;
  height: 12.645162582397461px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.cart-vector6 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.cart-frame47 {
  gap: 26px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-text129 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text131 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame48 {
  gap: 26px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-text145 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text147 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame522 {
  gap: 26px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-text161 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text163 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 149px;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame49 {
  gap: 26px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-text177 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text179 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame53 {
  gap: 12px;
  top: 477px;
  left: 1060px;
  display: flex;
  position: absolute;
  align-items: flex-end;
}
.cart-badge1 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.cart-badge2 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.cart-badge3 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.cart-badge4 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.cart-badge5 {
  width: 47px;
  height: 30px;
  box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px rgba(183, 183, 183, 0.07999999821186066) ;
  box-sizing: content-box;
}
.cart-text193 {
  top: 482px;
  left: 101px;
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: right;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text195 {
  top: 204px;
  left: 100px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Integral CF;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame27 {
  gap: 24px;
  top: 276px;
  left: 100px;
  width: 715px;
  display: flex;
  padding: 20px 24px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  flex-direction: column;
}
.cart-frame90 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.cart-frame331 {
  width: 124px;
  height: 124px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8.657718658447266px;
  background-color: rgba(240, 238, 237, 1);
}
.cart-image81 {
  top: -30.5px;
  left: -1px;
  width: 125px;
  height: 187px;
  position: absolute;
}
.cart-frame941 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.cart-frame911 {
  gap: 4px;
  height: 118px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.cart-frame931 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-text197 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame921 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-text199 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text201 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text203 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame951 {
  gap: 75px;
  width: 225px;
  height: 124px;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.cart-frame20 {
  width: 24px;
  height: 24px;
}
.cart-frame171 {
  gap: 20px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  align-items: center;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(239, 239, 239, 1);
}
.cart-frame23 {
  width: 20px;
  height: 20px;
}
.cart-text205 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame24 {
  width: 20px;
  height: 20px;
}
.cart-line5 {
  width: 667px;
  height: 1px;
  align-self: stretch;
}
.cart-frame912 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.cart-frame332 {
  width: 124px;
  height: 124px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8.657718658447266px;
  background-color: rgba(240, 238, 237, 1);
}
.cart-image82 {
  top: -30.5px;
  left: -1px;
  width: 125px;
  height: 187px;
  position: absolute;
}
.cart-frame942 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.cart-frame913 {
  gap: 4px;
  height: 118px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.cart-frame932 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-text206 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame922 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-text208 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text210 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text212 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame952 {
  gap: 75px;
  width: 225px;
  height: 124px;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.cart-frame25 {
  width: 24px;
  height: 24px;
}
.cart-frame172 {
  gap: 20px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  align-items: center;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(239, 239, 239, 1);
}
.cart-frame26 {
  width: 20px;
  height: 20px;
}
.cart-text214 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame29 {
  width: 20px;
  height: 20px;
}
.cart-line61 {
  width: 667px;
  height: 1px;
  align-self: stretch;
}
.cart-frame923 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.cart-frame333 {
  width: 124px;
  height: 124px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8.657718658447266px;
  background-color: rgba(240, 238, 237, 1);
}
.cart-image9 {
  top: -14.0001220703125px;
  left: 11px;
  width: 102px;
  height: 153px;
  position: absolute;
}
.cart-frame943 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.cart-frame914 {
  gap: 4px;
  height: 118px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.cart-frame933 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-text215 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame924 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cart-text217 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text219 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text221 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame953 {
  gap: 75px;
  width: 225px;
  height: 124px;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.cart-frame30 {
  width: 24px;
  height: 24px;
}
.cart-frame173 {
  gap: 20px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  align-items: center;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(239, 239, 239, 1);
}
.cart-frame35 {
  width: 20px;
  height: 20px;
}
.cart-text223 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame36 {
  width: 20px;
  height: 20px;
}
.cart-frame28 {
  gap: 24px;
  top: 276px;
  left: 835px;
  width: 505px;
  height: 458px;
  display: flex;
  padding: 20px 24px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.10000000149011612);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  flex-direction: column;
}
.cart-text224 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame102 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.cart-frame96 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.cart-text226 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text228 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame97 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.cart-text230 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text232 {
  color: rgba(255, 51, 51, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame98 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.cart-text234 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text236 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-line62 {
  width: 457px;
  height: 1px;
  align-self: stretch;
}
.cart-frame99 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.cart-text238 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-text240 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: right;
  font-family: Satoshi;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame101 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.cart-frame37 {
  gap: 12px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  border-radius: 62px;
  background-color: rgba(239, 239, 239, 1);
}
.cart-frame38 {
  width: 24px;
  height: 24px;
}
.cart-text242 {
  color: rgba(0, 0, 0, 0.4000000059604645);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Satoshi;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame100 {
  gap: 12px;
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.cart-text244 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-frame14 {
  gap: 12px;
  display: flex;
  padding: 16px 54px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 62px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.cart-text246 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Satoshi;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cart-arrowdownbold1 {
  width: 24px;
  height: 24px;
}
